<div class="container-fluid">
  <div class="row header">
    <!-- voltage -->
    <div class="col-xs-12  col-md-4 ">
      <!-- <div>
        <img class="float-left img-responsive voltage-img" src="assets/icons/battery.png" />
      </div>
      <div class="voltage-div">
        <b>{{voltage_data?.voltage}}</b>
      </div> -->

    </div>
    <div class="col-xs-12  col-md-4 ">
      <h1 class="brand">
        <b>WELCOME</b>
      </h1>
    </div>

    <!-- date time -->
    <div class="col-xs-12 col-md-4 date-time ">
      <b>{{date_time['currentDate']}}&nbsp;&nbsp;{{date_time['currentTime']}}</b>
    </div>


  </div>
</div>